<ul class="nav nav-underline justify-content-center">
	<li class="nav-item">
		<button onclick="filterContent('Instagram')">
			<a class="nav-link" data-platform="Instagram">Instagram</a>
		</button>
	</li>
	<li class="nav-item">
		<button onclick="filterContent('TikTok')">
			<a class="nav-link" data-platform="TikTok">TikTok</a>
		</button>
	</li>
	<li class="nav-item">
		<button onclick="filterContent('User Generated Content')">
			<a class="nav-link" data-platform="User Generated Content">User Generated Content</a>
		</button>
	</li>
</ul>